
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" id="nav-item-home">
          <a class="nav-link" href="/index.html">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" id="nav-item-theinternet">
          <a class="nav-link" href="#">The Internet</a>
        </li>
        <li class="nav-item" id="nav-item-ai">
            <a class="nav-link" href="#">Artificial Intelligence</a>
          </li>
          <li class="nav-item" id="nav-item-socialmedia">
              <a class="nav-link" href="/socialmedia.html">Social Media</a>
            </li>
            <li class="nav-item" id="nav-item-hardware">
                <a class="nav-link" href="#">Computer Hardware</a>
              </li>
  </nav>