
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">CS in Society</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" id="nav-item-home">
          <a class="nav-link" href="/index.html">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" id="nav-item-internet">
          <a class="nav-link" href="/internet.html">The Internet</a>
        </li>
        <li class="nav-item" id="nav-item-artificialintelligence">
            <a class="nav-link" href="/artificialintelligence.html">Artificial Intelligence</a>
          </li>
          <li class="nav-item" id="nav-item-socialmedia">
              <a class="nav-link" href="/socialmedia.html">Social Media</a>
            </li>
            <li class="nav-item" id="nav-item-computerhardware">
                <a class="nav-link" href="/computerhardware.html">Computer Hardware</a>
              </li>
  </nav>